<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=0.4, maximum-scale=0.4, user-scalable=no, minimal-ui" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <title>OurBlock</title>
  <link rel="shortcut icon" href="./assets/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|VT323|Lalezar" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <style>
    #map {
      zoom: 250%;
      height: 80%;
      position: absolute;
      top: 10%;
      bottom: 10%;
      left: 0;
      right: 0;
    }

    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
      font-family: "Roboto"
    }

    .my-container {
      width: 100%;
      margin: auto;
      position: relative;
      font-size: 30px;
    }

    #header {
      z-index: 900;
      top: 0px;
      position: absolute;
      height: 10%;
      font-weight: bold;
      line-height: 11em;
    }

    #bottom-bar {
      position: absolute;
      height: 10%;
      width: 100%;
      top: 90%;
      font-size: 40px;
      text-align: center;
    }

    .col {
      height: 100%;
      line-height: 2.5em;
    }

    .slide-fade-enter-active {
      transition: all .4s ease;
    }

    .slide-fade-leave-active {
      transition: all .3s ease;
    }

    .slide-fade-enter,
    .slide-fade-leave-to {
      transform: translateY(100px);
      opacity: 0;
    }

    .fade-enter-active,
    .fade-leave-active {
      transition: opacity .5s;
    }

    .fade-enter,
    .fade-leave-to {
      opacity: 0;
    }

    #profile-image {
      position: absolute;
      width: 100%;
    }

    #username {
      text-align: center;
      font-size: 72px;
      top: 37%;
      position: absolute;
      text-align: center;
      width: 100%;
      font-family: 'Lalezar';
    }

    #tokens {
      font-family: 'Roboto';
      text-align: center;
      width: 100%;
      position: absolute;
      top: 49%;
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
      margin: 0px;
      font-size: 48px;
    }

    #user-profile {
      width: 100%;
      height: 85%;
      z-index: 400;
      position: absolute;
      top: 0px;
    }

    #popups {
      z-index: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0px;
    }

    #reports-bar {
      width: 83%;
      height: 80%;
      top: 20%;
      left: 8.5%;
      position: absolute;
      padding: 30px;
      overflow-y: auto;
    }

    #search-page {
      height: 10%;
      width: 100%;
      z-index: 40000;
      position: absolute;
      top: 0px;
    }

    #search-bar {
      top: 0px;
      height: 100%;
      width: 100%;
      font-size: 80px;
      z-index: 4000;
      position: absolute;
    }

    .dropdown-trigger {
      position: absolute;
    }

    .row .col.s3{
      width: 20%;
      margin: auto;
    }

    #card-title {
      margin: auto;
      text-align: center;
    }

    .modal.open {
      width: 100%;
      max-height: 80%;
      height: 80%;
    }

    .bottom-icon {
      width: 65%;
      vertical-align: middle;
      margin: auto;
    }

    .report-add-icon {
      width: 100%;
      top: -50%;
      z-index: 1001;
      position: relative;
      margin: auto;
    }
  </style>
</head>

<body>

  <div id="popups">

    <div id="map" onclick="clickMap()"></div>

    <div v-if="viewing!=='login'">
      <div id="bottom-bar" class="row" style="z-index:1000">
        <div id="map-icon" data-section="map" onclick="select(this)" class="col s3 grey lighten-4 valign-wrapper">
          <img class="bottom-icon" src="map-black.png" alt="">
        </div>
        <div data-section="search" onclick="select(this)" class="col s3 grey lighten-4 valign-wrapper">
          <img class="bottom-icon" src="search.png" alt="">
        </div>
        <div id="add-report-button" data-section="report" onclick="select(this)" class="col s3 grey lighten-4 valign-wrapper">
          <img class="report-add-icon" src="report.png" alt="">
        </div>
        <div data-section="notif" onclick="select(this)" class="col s3 grey lighten-4 valign-wrapper">
          <img class="bottom-icon" src="notif.png" alt="">
        </div>
        <div data-section="profile" onclick="select(this)" class="col s3 grey lighten-4 valign-wrapper">
          <img class="bottom-icon" src="profile.png" alt="">
        </div>
      </div>
    </div>

    <nav id="header" style="background-color:white;" v-if="viewing==='map' || viewing ==='reports'">
      <div class="nav-wrapper" style="text-align: center;">
        <img style="height: 100%; vertical-align: center; padding: 15px" src="logo.png" alt="">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        </ul>
      </div>
    </nav>

    <transition name="fade">
      <div v-if="viewing==='login'" style="z-index: 999999999999999999999999">
        <img src="login.PNG" style=" position: absolute; width: 100%; height: 91%; top: 0px;">

        <div onclick="selectUser(this)" id="johnsmith" style="position: absolute; min-width: 60%; min-height:6%; top:12%; left: 29%;">&nbsp;</div>
        <div onclick="selectUser(this)" id="bradneedsalife" style="position: absolute; min-width: 60%; min-height:6%; top:23.7%; left: 29%;">&nbsp;</div>
        <div onclick="selectUser(this)" id="randomdonnie" style="position: absolute; min-width: 60%; min-height:6%; top:35.4%; left: 29%;">&nbsp;</div>
        <div onclick="selectUser(this)" id="randomannie" style="position: absolute; min-width: 60%; min-height:6%; top:47.1%; left: 29%;">&nbsp;</div>
        <div onclick="selectUser(this)" id="randomsue" style="position: absolute; min-width: 60%; min-height:6%; top:58.8%; left: 29%;">&nbsp;</div>
        <div onclick="selectUser(this)" id="randomemily" style="position: absolute; min-width: 60%; min-height:6%; top:70.5%; left: 29%;">&nbsp;</div>
        <div onclick="selectUser(this)" id="randombrian" style="position: absolute; min-width: 60%; min-height:6%; top:82.2%; left: 29%;">&nbsp;</div>
      </div>
    </transition>

    <div id="newReportModal" class="modal bottom-sheet" style="max-height: 70% !important;">
      <div class="modal-content">
        <p style="font-size: 70px;">Search Results</p>
        <div v-for="report in reports">
          <div class="my-container">
            <div class="card sticky-action">
              <div class="card-content" style="font-size: 40px;">
                <div class="card-title green-text" style="font-size: 40px; margin-top: 4%;">
                  Report #{{report._id}}
                </div>
                <p style="font-weight: bold; border-bottom: solid; border-color: green; margin-bottom: 30px;">
                  <span style="color: red;">{{ report.category }} </span>
                  <i class="material-icons medium">location_on</i>
                  <span style="color: blue;">{{ report.distance.toFixed(0) }}m </span>
                  <i class="material-icons medium">warning</i>
                  <span style="color: orange;">{{ report.severity.toFixed(2) }}</span>
                </p>
                <p>
                  <span style="color: green; font-weight: bold">Description: </span>{{report.message}}
                  <br>
                  <span style="color: green; font-weight: bold">Latitude: </span>{{report.lat.toFixed(3)}}
                  |
                  <span style="color: green; font-weight: bold">Longitude: </span>{{report.lon.toFixed(3)}}
                  <br>
                  <span style="color: green; font-weight: bold">Time: </span>
                  {{ (new Date(report.time)).toLocaleString("en-US", { year: 'numeric', month: 'short', day: 'numeric',
                  hour: 'numeric', minute: 'numeric' }) }}
                  <br>
                  <span style="color: green; font-weight: bold">Status: </span>{{report.status}}
                  <br>
                  <i class="material-icons medium">thumb_up</i> {{ report.upvoterCount }}
                  <i class="material-icons medium">thumb_down</i> {{ report.downvoterCount }}
                  <i class="material-icons medium">chat_bubble</i> {{ report.commentCount }}
                  <i class="material-icons medium">add_circle</i> {{ report.followerCount }}
                </p>
                <p v-if="!report.anonymous">
                  Submitted by {{report.reportingUser}}
                </p>
                <p v-else>
                  Submitted by an anonymous user
                </p>
                <span class="card-title activator blue-text" style="font-size: 40px; margin-top: 40px;">View comments<i
                    class="material-icons right" style="font-size: 80px;">expand_less</i></span>
              </div>

              <div class="card-action">
                <a onclick="upvote(this)" style="font-size: 40px;"><i class="material-icons small">thumb_up</i> Like</a>
                <a onclick="downvote(this)" style="font-size: 40px;"><i class="material-icons small">thumb_down</i>
                  Dislike</a>
                <a onclick="follow(this.parentNode.parentNode.firstElementChild.firstElementChild.innerHTML.substring(this.parentNode.parentNode.firstElementChild.firstElementChild.innerHTML.indexOf('#')+1))" style="font-size: 40px;"><i class="material-icons small">rss_feed</i> Follow</a>
              </div>

              <div class="card-reveal">
                <span class="card-title blue-text" style="font-size: 40px;">Comments
                  <i class="material-icons right" style="font-size: 80px;">expand_more</i>
                </span>
                <div style="white-space: pre-line; margin-top: 2%; font-size: 40px;" style="font-size: 40px;">
                  {{vm.formatComments(report.comments)}}
                </div>
                <input id="comment-input" onkeyup="commentKeyUp(event)" type="text" placeholder="Add a comment" style="font-size: 40px; margin-top: 2%; padding-bottom: 55px; width: 90%;"><i class="material-icons medium right" onclick="comment(this.previousSibling)">send</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <transition name="fade">
      <div style="z-index:4000" id="search-page" v-if="viewing==='search'">
        <nav id="search-bar">
          <div class="nav-wrapper">
            <div class="input-field">
              <label class="label-icon" for="search-example">
              </label>
              <input style="font-size:40px;" id="search-input" type="search" required="" placeholder="Enter a few keywords..."
                onkeyup="searchKeyUp(event)" autocomplete="off">
              <i onclick="search()" class="material-icons left large" style="font-size: 80px; margin-top: 6.5%; position:absolute;">search</i>
            </div>
          </div>
        </nav>

      </div>
    </transition>

    <transition style="z-index:600;" name="fade">
      <div v-if="viewing==='notif'" id="notifs" class="light-green lighten-3" style="z-index:600; position: absolute; width: 100%; height:100%; top: 0px; margin: 0px; left: 0px; padding: 40px; overflow: scroll;">
        <div v-for="notif in notifs">
          <div class="card-panel light-green lighten-1" style="margin-bottom: 30px; border: 5px solid green; border-radius: 25px;">
            <div class="white-text">
              <div height="100px" style="font-family: 'Roboto'; font-size: 40px; z-index: 600;">
                <i class="material-icons medium left">warning</i><span style="font-weight: bold">New update on a report you follow</span><br><br>
                  <span style="font-weight: bold">SFPD: </span>{{notif}}
                </div>
            </div>
          </div>
        </div>
      </div>
    </transition>

    <transition name="fade">
      <div v-show="viewing==='profile'">
        <div style="background: white; position:absolute; top:0px; width: 100%; height: 100%; z-index:600;">&nbsp;</div>
        <img id="profile-image" src="./profile-johnsmith.png" style="top:0; width: 100%; position:absolute; top:0px; z-index:600;">
        <div id="my-tokens" style="font-weight:bold; font-size: 80px; position: absolute; min-width:30px; min-height: 110px; left:79%; top: 43%; z-index: 100000000000;">
          {{tokens}}
        </div>
      </div>
    </transition>

    <transition name="fade">
      <div v-if="viewing==='report'">
        <img src="addreport.png" style="top:0; width: 100%; position:absolute; top:0px; z-index:600">
        <textarea id="report-description" style="font-size: 70px; font-family: 'Roboto'; position: absolute; max-width: 90%; min-height: 31.5%; left:5%; top: 42.5%; z-index: 100000000000;"></textarea>
        <div onclick="togglePrivacy()" id="keep-report-private" style="position: absolute; min-width: 44%; min-height: 5.4%; left:3.5%; top: 77%; z-index: 100000000000;">&nbsp</div>
        <div onclick="submitReport()" id="submit-report" style="position: absolute; min-width: 44%; min-height: 5.4%; left:52.6%; top: 77%; z-index: 100000000000;">&nbsp</div>

        <div v-if="vm.reportPrivacy">
          <img src="./checkmark.png" style="position: absolute; top: 77.5%; left:7%; width: 5%; height:3%; z-index: 100000000000;">
        </div>
    </transition>
  </div>

  <script>
    var onModalHide = function () {
      clickMap();
    };

    var instance;
    $(document).ready(function () {
      $('.modal').modal();
      instance = M.Modal.init($('#newReportModal')[0], {
        onCloseStart: onModalHide
      });

      // displayProfilePic(document.getElementById('profile-image'));
    });

    function searchKeyUp(event) {
      if (event.keyCode === 13) {
        search();
      }
    }


    function commentKeyUp(event) {
      if (event.keyCode === 13) {
        comment(document.getElementById('comment-input'));
      }
    }

    /////// this is when user clicks log in
    function selectUser(element) {
      vm.username = element.id;
      vm.viewing = 'map';
      $("#profile-image").attr('src', "./profile-" + element.id + ".png");
      getTokens();
      setInterval(getTokens, 10 * 1000);
      getNotifs();
      setInterval(getNotifs, 10 * 1000);
    }

    var cards = document.getElementsByClassName('card');

    var togglePrivacyButton = document.getElementById('keep-report-private');
    var submitReportButton = document.getElementById('submit-report');

    function togglePrivacy() {
      vm.reportPrivacy = !vm.reportPrivacy;
    }

    function submitReport() {
      var description = document.getElementById('report-description').value;
      axios.post('http://lypang.pythonanywhere.com/post', {
        'reportingUser': vm.username,
        'lat': vm.location.lat,
        'lon': vm.location.lon,
        'time': Date.now(),
        'anonymous': vm.reportPrivacy,
        'message': description
      }).then(function (res) {
        console.log(res);
        clickMap();

        var newReportId = res.data.newReportId;
        follow (newReportId);

        sendNotif(vm.username, "You have submitted a new report.")
      });
    }

    function sendNotif(recipient, message) {
      axios.post('https://gony0gqug0.execute-api.us-east-1.amazonaws.com/beta/send', {
        'id' : recipient,
        'body' : message
      });
    }

    function comment(element) {
      var reportID = element.parentNode.parentNode.firstElementChild.firstElementChild.innerHTML;
      reportID = reportID.substring(reportID.lastIndexOf('#') + 1);
      reportID = reportID.substring(0, 20);
      var message = element.value;

      addComment(reportID, message);

      for (var i = 0; i < vm.reports.length; i++) {
        if (vm.reports[i]._id === reportID) {
          vm.reports[i].comments.push({
            message: message,
            userId: vm.username,
            timestamp: Date.now()
          });
        }
      }

      element.value = "";
    }

    var light = [
      '<img class="bottom-icon" src="map.png" alt="">',
      '<img class="bottom-icon" src="search.png" alt="">',
      '<img class="report-add-icon" src="report.png" alt="">',
      '<img class="bottom-icon" src="notif.png" alt="">',
      '<img class="bottom-icon" src="profile.png" alt="">'
    ];
    var dark = [
      '<img class="bottom-icon" src="map-black.png" alt="">',
      '<img class="bottom-icon" src="search-black.png" alt="">',
      '<img class="report-add-icon" src="report-black.png" alt="">',
      '<img class="bottom-icon" src="notif-black.png" alt="">',
      '<img class="bottom-icon" src="profile-black.png" alt="">'
    ];

    var sections = document.getElementsByClassName('col');

    function select(element) {
      for (var i = 0; i < sections.length; i++) {
        if (element === sections[i]) {
          sections[i].innerHTML = dark[i];
        } else {
          sections[i].innerHTML = light[i];
        }
      }

      vm.viewing = element.getAttribute('data-section');
    }

    function clickMap() {
      select(document.getElementById('map-icon'));
    }

    function search() {
      var term = document.getElementById('search-input').value;

      axios.post('https://gony0gqug0.execute-api.us-east-1.amazonaws.com/beta/search', {
        'messageQuery': term,
        'limit': 20,
        'severity': true,
        'currentTime': Date.now(),
        'currLat': vm.location.lat,
        'currLon': vm.location.lon,
        'role': 'police'
      }).then(function (res) {
        console.log(res.data);
        vm.reports = res.data;
        vm.viewing = 'map';
        instance.open();
      });
    }
  </script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4RlYes-LFZXhM7OJMryGDnVUf3MbrXUM&libraries=visualization&callback=initMap">
  </script>

  <script>
    var map, infoWindow, markers;
    var points;

    function initMap() {
      function getMapBounds() {
        var sw = map.getBounds().getSouthWest();
        var ne = map.getBounds().getNorthEast();
        return {
          lonMin: sw.lng(),
          lonMax: ne.lng(),
          latMin: sw.lat(),
          latMax: ne.lat()
        }
      }

      function postSearch() {
        var boundsBodySearch = getMapBounds();
        axios.post('https://gony0gqug0.execute-api.us-east-1.amazonaws.com/beta/search', {
          location: boundsBodySearch,
          select: 'lon lat'
        }).then(function (res) {
          for (var i = 0; i < points.length; i++) {
            points.pop();
          }
          for (var i = 0; i < res.data.length; i++) {
            points.push(new google.maps.LatLng(res.data[i].lat, res.data[i].lon));
          }
        }).catch(function (e) {
          console.error(e);
        });
      }

      map = new google.maps.Map(document.getElementById('map'), {
        center: {
          lat: 37.786570,
          lng: -122.402
        },
        zoom: 15
      });

      points = new google.maps.MVCArray;
      infoWindow = new google.maps.InfoWindow;
      markers = [];

      var initListener = map.addListener('tilesloaded', function () {
        var boundsBody = getMapBounds();
        axios.post('https://gony0gqug0.execute-api.us-east-1.amazonaws.com/beta/search', {
          location: boundsBody,
          select: 'lon lat'
        }).then(function (res) {
          for (var i = 0; i < res.data.length; i++) {
            points.push(new google.maps.LatLng(res.data[i].lat, res.data[i].lon));
          }
          heatmap = new google.maps.visualization.HeatmapLayer({
            data: points,
            map: map
          });
          heatmap.set('radius', 18);
          heatmap.set('opacity', 0.5);
        });
        google.maps.event.removeListener(initListener);
      });

      map.addListener('dragend', postSearch);
      map.addListener('zoom_changed', postSearch);
    }
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.fixed-action-btn');
      var instances = M.FloatingActionButton.init(elems, {});
    });

    var voted = false;
  </script>

  <script>
    function getNotifs() {
      axios.post('https://gony0gqug0.execute-api.us-east-1.amazonaws.com/beta/notif', {
        'id': vm.username
      }).then(function (res) {
        if (res.data[0]) {
          vm.notifs.unshift(res.data[0]);
          getNotifs();
        }
      });
    }

    function getTokens() {
      axios.post('https://gony0gqug0.execute-api.us-east-1.amazonaws.com/beta/token', {
        'userId': vm.username
      }).then(function (res) {
        vm.tokens = res.data;
      });
    }

    function upvote(element) {
      var reportId = element.parentNode.parentNode.firstElementChild.firstElementChild.innerHTML;
      reportId = reportId.substring(reportId.lastIndexOf('#') + 1);
      reportId = reportId.substring(0, 20);

      follow(reportId);

        for (var i = 0; i < vm.reports.length; i++) {
          if (vm.reports[i]._id === reportId) {

            if (!vm.reports[i].upvoters.includes(vm.username)) {
              vm.reports[i].upvoterCount++;
              vm.reports[i].upvoters.push(vm.username);

              axios.post('https://gony0gqug0.execute-api.us-east-1.amazonaws.com/beta/interact', {
                'userId': vm.username,
                'reportId': reportId,
                'action': 'upvote'
              });
            }
          }
        }
    }

    function follow(reportId) {

      reportId = reportId.substring(0, 20);

        for (var i = 0; i < vm.reports.length; i++) {
          if (vm.reports[i]._id === reportId) {

            if (!vm.reports[i].followers.includes(vm.username)) {
              vm.reports[i].followerCount++;
              vm.reports[i].followers.push(vm.username);

              axios.post('https://gony0gqug0.execute-api.us-east-1.amazonaws.com/beta/interact', {
                'userId': vm.username,
                'reportId': reportId,
                'action': 'follow'
              });
            }
          }
        }
    }

    function downvote(element) {
        var reportId = element.parentNode.parentNode.firstElementChild.firstElementChild.innerHTML;
        reportId = reportId.substring(reportId.lastIndexOf('#') + 1);
        reportId = reportId.substring(0, 20);

        follow(reportId);

          for (var i = 0; i < vm.reports.length; i++) {
            if (vm.reports[i]._id === reportId) {

              if (!vm.reports[i].downvoters.includes(vm.username)) {
                vm.reports[i].downvoterCount++;
                vm.reports[i].downvoters.push(vm.username);

                axios.post('https://gony0gqug0.execute-api.us-east-1.amazonaws.com/beta/interact', {
                  'userId': vm.username,
                  'reportId': reportId,
                  'action': 'downvote'
                });
              }
            }
          }
    }

    function addComment(reportId, commentMessage) {
      axios.post('https://gony0gqug0.execute-api.us-east-1.amazonaws.com/beta/comment', {
        'userId': vm.username,
        'reportId': reportId,
        'message': commentMessage,
        'timestamp': Date.now()
      });
      follow(reportId);
    }
  </script>

  <script>
    function getInfo(id) {
      return {
        id: id,
      };
    }

    var vm = new Vue({
      el: '#popups',
      data: {
        reportPrivacy: false,
        viewing: 'login',
        location: {
          lat: 37.7835229,
          lon: -122.4036683
        },
        username: 'johnsmith',
        tokens: 0,
        reports: [],
        notifs: ['test1', 'test2', 'test3']
      },
      methods: {
        formatComments: function (comments) {
          var output = '';
          for (var i = 0; i < comments.length - 1; i++) {
            output += comments[i].userId + ' : ' + comments[i].message + '\n';
          }

          if (comments.length !== 0) {
            output += comments[comments.length - 1].userId + ' : ' + comments[comments.length - 1].message +
              '\n';
          }
          return output;
        },

        formatLocation: function (report) {
          return 'Latitude: ' + report.lat + ' | Longitude: ' + report.lon;
        }
      }
    });
  </script>
</body>

</html>
